/* Estilização do header */
.logo-site {
    width: 40px;
}

.nav-header {
    display: flex;
}

.link-home {
    display: flex;
    align-items: center;
    column-gap: 10px;

    color: #343a40;
    text-decoration: none;

    transition: all 0.3s;
}

.link-home:hover {
    color: rgb(0, 86, 179)
}

.span-nome-site {
    font-size: 24px;
    font-weight: bold;
}

.ul-links {
    display: flex;
    column-gap: 15px;
    list-style-type: none;
}

.link-secoes-site {
    font-size: medium;
    color: #343a40;
    text-decoration: none;

    transition: color 0.3s;
}

.link-secoes-site:hover {
    color: rgb(0, 123, 255);
    text-decoration-line: underline;
    text-decoration-color: rgb(0, 123, 255);
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

/* Estilização do main */
main {

}

section {

}
/* Estilização do footer */
footer {

}

p, h1, h2, h3, button, li, span, a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* ------------------------------------------------------------------------------ */
/* Início */

.div-inicio {
    background-color: rgb(0, 123, 255);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1-marcus-monteiro, .h2-marcus-monteiro, .p-marcus-monteiro {
    color: rgb(255, 255, 255);
}

.h1-marcus-monteiro {
    font-size: 56px;
    margin: 0;
    margin-bottom: 8px;
}

.h2-marcus-monteiro {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 24px;
}

.p-marcus-monteiro {
    font-size: 20px;
    margin: 0;
    margin-bottom: 30px;
}

.link-projetos {
    background-color: rgb(255, 255, 255) ;
    text-decoration: none;
    color: rgb(0, 123, 255);
    font-weight: bold;
    border-radius: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
}

/* ------------------------------------------------------------------------------ */
/* Sobre mim */

.div-sobre-mim {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h2-sobre-mim, .h2-projetos, .h2-experiencia, .h2-habilidades, .h2-formacao, .h2-contato {
    color: rgb(0, 123, 255);
    font-size: 32px;
}

.div-imagem-p-sobre-mim {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.div-foto-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-perfil {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(248, 249, 250);
    border-width: 5px;
    filter:drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.1));

    display: inline-block;
    vertical-align: middle;
}

.div-texto-sobre-mim {

}

.btn-donwload-curriculo {
    font-size: 20px;
    background-color: rgb(0, 123, 255);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    border-radius: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.p-sobre-mim {
    text-align: justify;
}

.btn-donwload-curriculo {

}

/* ------------------------------------------------------------------------------ */
/* Projetos */
.div-projetos {
    background-color: rgb(248, 249, 250);
}

.projetos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.projetos-card {
    width: 500px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;

    display: flex;
    flex-direction: column;
}

.projetos-card:hover {
    transform: scale(1.02) translateY(-4px);
    box-shadow: 5px 5px 18px 7px rgba(0, 0, 0, 0.1);
}

.projetos-card img {
    align-self: center;
    margin: 15px;
}

.h3-projetos-card {
    font-size: 1.5rem;
    color: rgb(0, 123, 255);
    margin-left: 18px;
}

.p-projetos-card {
    text-align: justify;
    margin: 18px;
    margin-top: 0;
}

.div-span-projetos {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0 18px;
    margin-bottom: 15px;
}

.span-projetos-card {
    background-color: #e9ecef;
    color: #6c757d;
    border-radius: 10px;
    padding: 5px 15px;
}

.logo-conversor-unidades {
    width: 150px;
    border-radius: 50%;
}

.logo-data-plot {
    width: 133.82px;
}

.link-conhecer-projeto {
    background-color:  rgb(0, 123, 255);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: center;
    margin: 15px;
    margin-bottom: 20px;
}

/* ------------------------------------------------------------------------------ */
/* Experiência */

.div-experiencia {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ul-experiencia {
    list-style: none;
}

.h3-experiencia {
    color: #0056b3;
    font-size: 1.3rem;
    margin: 0;
}

.li-experiencia {
    border-left: 5px solid #6c757d;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    width: 860px;
    border-radius: 15px;
    padding: 25px;
    transition: all 0.3s;
}

.li-experiencia:hover {
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.1);
    transform: scale(1.02) translateY(-4px);
}

.p-experiencia-empresa {
    font-size: 1rem;
    color: #343a40;
    margin: 0;
    margin-top: 3px;
    margin-bottom: 5px;
}

.p-experiencia-tempo {
    font-size: 0.9rem;
    color: #6c757d;
    border-bottom: 1px dashed #6c757d;
    margin: 0;
    padding-bottom: 12px;
}

.div-experiencia-atividades {
    padding-top: 15px;
}

.ul-experiencia-atividades {
    list-style: disc;
}

.ul-experiencia-atividades li {
    font-size: 0.95rem;
    color: #343a40;
    margin-bottom: 0.7rem;
}

/* ------------------------------------------------------------------------------ */
/* Habilidades técnicas */

.div-habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ul-habilidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    margin: 0;
    max-width: 980px;
}

.ul-habilidades li {
    border: 1px solid #e0e0e0;
    padding: 8px;
    border-radius: 12px;
    transition: all 0.2s;
}

.ul-habilidades li:hover {
    background-color: rgb(0, 123, 255);
    color: rgb(255, 255, 255);
    transform: scale(1.05) translateY(-2px);
}

/* ------------------------------------------------------------------------------ */
/* Formação */

.div-formacao {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ul-formacao {
    list-style: none;
}

.h3-formacao {
    color: #0056b3;
    font-size: 1.3rem;
    margin: 0;
}

.li-formacao {
    border-left: 5px solid rgb(0, 123, 255);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    width: 860px;
    border-radius: 15px;
    padding: 25px;
    transition: all 0.3s;
}

.li-formacao:hover {
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.1);
    transform: scale(1.02) translateY(-4px);
}

.p-formacao-instituicao {
    font-size: 1rem;
    color: #343a40;
    margin: 0;
    margin-top: 3px;
    margin-bottom: 5px;
}

.p-formacao-tempo {
    font-size: 0.9rem;
    color: #6c757d;
    border-bottom: 1px dashed #6c757d;
    margin: 0;
    padding-bottom: 12px;
}

.div-formacao-atividades {
    padding-top: 15px;
}

.ul-formacao-atividades {
    list-style: disc;
}

.ul-formacao-atividades li {
    font-size: 0.95rem;
    color: #343a40;
    margin-bottom: 0.7rem;
}