/* Estilização do header */
.logo-site {
    width: 40px;
}

div {
    border-width: 3px;
    border-style: solid;
    border-color: gray;
}

header {

}
/* Estilização do main */
main {

}

section {

}
/* Estilização do footer */
footer {

}

p, h1, h2, h3, button, li, span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* ------------------------------------------------------------------------------ */
/* Sobre mim */

.div-sobre-mim {

}

.h2-sobre-mim {
    
}

.div-imagem-p-sobre-mim {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.div-foto-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-perfil {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(248, 249, 250);
    border-width: 5px;
    filter:drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.1));

    display: inline-block;
    vertical-align: middle;
}

.div-texto-sobre-mim {

}

.p-sobre-mim {
    text-align: justify;
}

.btn-donwload-curriculo {

}

/* ------------------------------------------------------------------------------ */
/* Projetos */
.div-projetos {
}

.projetos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.projetos-card {
    
}

.logo-conversor-unidades {
    width: 150px;
    border-radius: 50%;
}

.logo-data-plot {
    width: 133.82px;
}