<div class="div-texto-sobre-mim">
    <p class="p-sobre-mim">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi obcaecati
        accusamus perspiciatis laudantium sapiente eos iste nihil voluptatibus quaerat sequi
        sit cupiditate quisquam recusandae, labore voluptas dolore commodi quis dolorem.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi obcaecati
        accusamus perspiciatis laudantium sapiente eos iste nihil voluptatibus quaerat sequi
        sit cupiditate quisquam recusandae, labore voluptas dolore commodi quis dolorem.
    </p>
    <p class="p-sobre-mim">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi obcaecati
        accusamus perspiciatis laudantium sapiente eos iste nihil voluptatibus quaerat sequi
        sit cupiditate quisquam recusandae, labore voluptas dolore commodi quis dolorem.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi obcaecati
        accusamus perspiciatis laudantium sapiente eos iste nihil voluptatibus quaerat sequi
        sit cupiditate quisquam recusandae, labore voluptas dolore commodi quis dolorem.
    </p>
</div>